@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
* {
  margin: 0;
  padding: 0;
}

html {
  background: #EBD65A;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding-bottom: 5rem;
}

header {
  border-bottom: 10px solid black;
  border-right: 10px solid black;
  padding: 3rem 1.2rem 1rem 0;
  text-align: right;
  margin-right: calc(50% - 600px / 2);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/mountains.svg);
  background-repeat: no-repeat;
  background-position: bottom 10px right 110px;
}
header h1 {
  font-size: 3rem;
}
@media (max-width: 600px) {
  header {
    margin-right: 1rem;
  }
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.module {
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.module.module-next-meetup {
  grid-column: 1 / span 2;
}
.module.module-next-meetup h2 {
  font-size: 3rem;
}

h2 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
}

address {
  font-style: normal;
}

.button {
  text-decoration: none;
  background: #eee;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.button:hover, .button:focus {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.row {
  display: grid;
  grid-template-columns: 20px 1fr;
  margin: 0 0 1rem 0;
}

h3 {
  color: red;
  text-transform: uppercase;
}

footer {
  border-top: 10px solid black;
  border-left: 10px solid black;
  padding: 1rem 0 3rem 1rem;
  margin-left: calc(50% - 600px / 2);
  margin-top: auto;
}
@media (max-width: 600px) {
  footer {
    margin-left: 1rem;
  }
}
