@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  padding: 0;
}

html {
  background: #ebd65a;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1.5rem;
}

p {
  margin: 0 0 1rem 0;
}

.button {
  text-decoration: none;
  background: #eee;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 0 rgba(black, 0.2);
  cursor: pointer;
  font-size: 115%;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}
